.navigation__menu_logo {
    margin-left: 80px;
    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
    color: #231F20;
    width: 41px;
    height: 39px;
}